<!DOCTYPE html>
<html>
<head>
  <title>Life^3</title>
  <link rel='stylesheet' href='/css/site.css'></link>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js'></script>
  <script src='http://threejs.org/examples/js/controls/OrbitControls.js'></script>
  <script src='/js/app.js'></script>
</head>
<body>

  <h1>The Bendy Game of Life</h1>

</body>
</html>
