<!DOCTYPE html>
<html>
<head>
  <title>Life^3</title>
  <link rel='stylesheet' href='/css/site.css'></link>

  <link rel='import' href='https://cdn.rawgit.com/download/polymer-cdn/1.2.3.2/lib/paper-button/paper-button.html'>
  <link rel='import' href='https://cdn.rawgit.com/download/polymer-cdn/1.2.3.2/lib/paper-slider/paper-slider.html'>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js'></script>
  <script src='http://threejs.org/examples/js/controls/OrbitControls.js'></script>
  <script src='/js/app.js'></script>
  <script src='/js/cells.js'></script>
  <script src='/js/controls.js'></script>
  <script src='/js/ws.js'></script>
</head>
<body>

  <h1>The Bendy Game of Life</h1>
  <div id='config'>
    <div>
      <div>
        <div class='label'>Layers</div>
        <paper-slider id='layers' pin value='5' min='1' max='15'></paper-slider>
      </div>
      <div>
        <div class='label'>Fill percent</div>
        <paper-slider id='fill-percent' pin value='40' min='1' max='100'></paper-slider>
      </div>
    </div>
    <br>
    <div>
      <paper-button id='start' class='green' toggles raised>Start</paper-button>
      <paper-button id='pause' class='' toggles raised disabled>Pause</paper-button>
    </div>
  </div>

  <div id='canvas'></div>

  <script>
    (function() {
      if ('registerElement' in document
          && 'import' in document.createElement('link')
          && 'content' in document.createElement('template')) {
        // platform is good!
      } else {
        // polyfill the platform!
        var e = document.createElement('script');
        e.src = 'https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.22/webcomponents-lite.min.js';
        document.body.appendChild(e);
      }
    })();
  </script>
</body>
</html>
