body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
}

.buttons {
  display: flex;
  justify-content: center;
}

#config > div {
  padding: 15px;
}

.label {
  text-align: left;
  margin: 15px;
}

paper-button.green {
  background-color: #388E3C;
  color: white;
}

paper-button.red {
  background-color: #D32F2F;
  color: white;
}

paper-toolbar {
  background-color: #2196F3 !important;
  font-size: x-large;
}
