body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
}

#config {
  position: absolute;
  top: 80px;
  left: 16px;
  background-color: white;
}

#canvas {
  width: 100%;
}

.label {
  margin: 16px;
}

paper-toolbar {
  background-color: #2196F3 !important;
  font-size: x-large;
}
